We have already seen that the `print` function provides a very simple way to output values from a Python program. `print` takes zero or more parameters and displays them using a single blank as the default separator. 

* It is possible to change the separator character by setting the **sep** argument. 
* In addition, each print ends with a newline character by default. This behavior can be changed by setting the **end** argument. These variations are shown in the following session:

In [1]:
print('Hello')

Hello

In [2]:
print('Hello', 'World')

Hello World

In [3]:
print('Hello', 'World', sep='-!!-')

Hello-!!-World

In [4]:
print('Hello', 'World', sep='-!!-', end=' ...')

Hello-!!-World ...

## Formatted Strings

It is often useful to have more control over the look of your output. Fortunately, Python provides us with an alternative called **formatted strings**. A formatted string is a template in which words or spaces that will remain constant are combined with placeholders for variables that will be inserted into the string.

In [5]:
name = 'Peter'
age = 55

In [6]:
print(name, "is", age, "years old.")

Peter is 55 years old.

In [7]:
# Using a formatted string, we write the above query like

print('%s is %d years old' %(name, age))

Peter is 55 years old

* The **%** operator is a string operator called the **format operator**. 
* The left side of the expression holds the **template or format string**, and the right side holds a **collection of values** that will be substituted into the format string. 
* Note that the number of values in the collection on the right side corresponds with the number of % characters in the format string. 
* Values are taken—in order, left to right—from the collection and inserted into the format string.

### Conversion Characters:

A conversion character tells the format operator what type of value is going to be inserted into that position in the string. In the example above, the `%s` specifies a string, while the `%d` specifies an integer. Other possible type specifications include $i$, $u$, $f$, $e$, $g$, $c$, or `%`.

EG 1. Put a number value in a field width of 20

In [8]:
print('%s is %20d years old' %(name, age))

Peter is                   55 years old

EG 2. Put a number value in a field width of 20 Left-adjusted

In [9]:
print('%s is %-20d years old' %(name, age))

Peter is 55                   years old

EG 3. Put a number value in a field width of 20 Right-adjusted

In [10]:
print('%s is %+20d years old' %(name, age))

Peter is                  +55 years old

EG 4. Put a number value in a field width of 20 fill in with leading zeros.

In [11]:
print('%s is %020d years old' %(name, age))

Peter is 00000000000000000055 years old

EG 5. Put the value in a field 10 characters wide with 2 characters to the right of the decimal point.

In [12]:
print('%s is %10.2f years old' %(name, age))

Peter is      55.00 years old

EG 6. Put the value in a field 10 characters wide with leading zeros and 2 characters to the right of the decimal point.

In [13]:
print('%s is %010.2f years old' %(name, age))

Peter is 0000055.00 years old

### Using Dictionaries and Tuples with Formatted Strings:

* The right side of the format operator is a collection of values that will be inserted into the format string. 
* The collection will be either a **tuple or a dictionary**. 
* If the collection is a tuple, the values are inserted in order of position. 
* That is, the first element in the tuple corresponds to the first format character in the format string. 
* If the collection is a dictionary, the values are inserted according to their keys. 
* In this case all format characters must use the `(name)` modifier to specify the name of the dictionary key.

In [14]:
price = 24
item = 'banana'

itemdict = {'item':'banana', 'price':24}

#### Using Tuples...

In [15]:
print('The %s costs %.2f cents.' %(item, price))

The banana costs 24.00 cents.

In [16]:
print('The %s costs %i cents.' %(item, price))

The banana costs 24 cents.

#### Using Dictionaries...

In [17]:
print('The %(item)s costs %(price).2f cents.' %(itemdict))

The banana costs 24.00 cents.

In [18]:
print('The %(item)s costs %(price)d cents.' %(itemdict))

The banana costs 24 cents.

In [21]:
list2 = [[num1, num2] for num1 in range(0,2) for num2 in range(6,8)]
list2

[[0, 6], [0, 7], [1, 6], [1, 7]]

### Nested Lists and List-Comprehension:

In [20]:
wordlist = ['cat','dog','rabbit']
wordlist

['cat', 'dog', 'rabbit']

**Use a list comprehension to print a single list of all the words in wordlist flattened out**

method 1: using python Joins

In [22]:
letterlist = [ch for ch in ''.join(wordlist)]
letterlist

['c', 'a', 't', 'd', 'o', 'g', 'r', 'a', 'b', 'b', 'i', 't']

method 2: using nested list-comprehensions

In [23]:
letterlist = [word[i] for word in wordlist for i in range(len(word))]
letterlist

['c', 'a', 't', 'd', 'o', 'g', 'r', 'a', 'b', 'b', 'i', 't']

In [24]:
wordlist = ['cat','dog','rabbit']
letterlist = [word[i] for word in wordlist for i in range(len(word))]
letterlist = list(set(letterlist))
print(letterlist)

['a', 'c', 'b', 'o', 't', 'g', 'd', 'r', 'i']