# Object-Oriented-Programming:

Python is an object-oriented programming language. So far, we have used a number of built-in classes to show examples of data and control structures. One of the most powerful features in an object-oriented programming language is the ability to allow a programmer (problem solver) to create new classes that model data that is needed to solve the problem.

We use abstract data types to provide the logical description of what a data object looks like **(its state)** and what it can do **(its methods)**. By building a `class` that implements an abstract data type, a programmer can take advantage of the abstraction process and at the same time provide the details necessary to actually use the abstraction in a program. Whenever we want to implement an abstract data type, we will do so with a new class.

### Shallow and Deep Equality

* Two objects have **Shallow-Equality** if they are references of the same object. It don't matter if the 2 objects have different values, they are shallow-equal if they are refs of the same object address.
* Two objects have **Deep-Equality** if they have equal values. They may be from different object references but have same values.
* The **`__eq__`** method is another standard method available in any class. The `__eq__` method compares two objects and returns True if their values are the same, False otherwise. We can override the workings of this method to create both shallow and deep equality.

## Inheritance: Logic Gates and Circuits

**Inheritance** is the ability for one class to be related to another class in much the same way that people can be related to one another. Children inherit characteristics from their parents. Similarly, Python child classes can inherit characteristic data and behavior from a parent class. <br>These classes are often referred to as **subclasses** and **superclasses**.

<img src='https://runestone.academy/runestone/books/published/pythonds/_images/inheritance1.png' height=200 width=400>

**Logic gates** are easily organized into a class inheritance hierarchy. At the top of the hierarchy, the **`LogicGate class`** represents the most general characteristics of logic gates: namely, a label for the gate and an output line. The next level of subclasses breaks the logic gates into two families, those that have one input line and those that have two. Below that, the specific logic functions of each appear...

<img src='https://runestone.academy/runestone/books/published/pythonds/_images/gates.png' height=400 width=400>

<img src='https://runestone.academy/runestone/books/published/pythonds/_images/circuit1.png' height=300 width=500>

Now that we have the basic gates working, we can turn our attention to building circuits like in the image above. In order to create a circuit, we need to connect gates together, the output of one flowing into the input of another. To do this, we will implement a new class called Connector.

The Connector class will not reside in the gate hierarchy. It will, however, use the gate hierarchy in that each connector will have two gates, one on either end see fig below. This relationship is very important in object-oriented programming. It is called the **HAS-A Relationship**. Recall earlier that we used the phrase **“IS-A Relationship”** to say that a child class is related to a parent class, for example UnaryGate **IS-A LogicGate**.

<img src='https://runestone.academy/runestone/books/published/pythonds/_images/connector.png' height=300 width=600>

Now, with the Connector class, we say that a Connector **HAS-A LogicGate** meaning that connectors will have instances of the LogicGate class within them but are not part of the hierarchy. When designing classes, it is very important to distinguish between those that have the IS-A relationship (which requires inheritance) and those that have HAS-A relationships (with no inheritance).

## Summary
1. Computer science is the study of problem solving.

2. Computer science uses abstraction as a tool for representing both processes and data.

3. Abstract data types allow programmers to manage the complexity of a problem domain by hiding the details of the data.

4. Python is a powerful, yet easy-to-use, object-oriented language.

5. Lists, tuples, and strings are built in Python sequential collections.

6. Dictionaries and sets are nonsequential collections of data.

7. Classes allow programmers to implement abstract data types.

8. Programmers can override standard methods as well as create new methods.

9. Classes can be organized into hierarchies.

10. A class constructor should always invoke the constructor of its parent before continuing on with its own data and behavior.

### Discussion Questions
* Construct a class hierarchy for people on a college campus. Include faculty, staff, and students. What do they have in common? What distinguishes them from one another?

* Construct a class hierarchy for bank accounts.

* Construct a class hierarchy for different types of computers.

In [1]:
import time
from collections import Counter
import pandas as pd
print('Done!')

Done!

In [2]:
class University:
    def __init__(self, name, address, phone_str):
        
        self.uni_name = name
        self.address = address
        self.phone = phone_str
        self.__faculties = {}
    
    
    def __str__(self):
        a = self.uni_name
        b = self.address
        c = self.phone
        d = len(self.__faculties)
        
        return f'Name: {a}\nAddress: {b}\nContact: {c}\nFaculty-Count: {d}'
        
        
    def __get_faculty_data(self):
        return self.__faculties
    
    
    def __set_faculty(self, faculty):
        self.__faculties[faculty.fac_name] = faculty
        
    
    def get_total_students(self):
        self.total_students = 0
        for key, value in self.__faculties.items():
            self.total_students+=value.get_total_students()
        return self.total_students

In [3]:
f = 'mary'
g = f.split()[::-1]
g

['mary']

In [4]:
class Faculty(University):
    def __init__(self, name, uni):
        super(Faculty, self).__init__(name, address, phone_str)
        
        self.fac_name = name
        self.uni_name = uni.uni_name
        self.email = (f'{self.fac_name}@{self.uni_name}.com').replace('-','_').lower()
        self.__departments = {}
        
        
    def __str__(self):
        a = self.uni_name
        b = self.address
        c = self.fac_name
        d = self.email
        e = len(self.__departments)
        
        return f'Uni: {a}\nAddress: {b}\nFaculty: {c}\nEmail: {d}\nDepartment-Count: {e}'
    
    
    def clean_name(self, strr):
            strr = ''.join([i if i.isalpha() else ' ' for i in strr])
            splits = strr.split()
            f = ''.join([i.capitalize()+' ' for i in splits])
            return f[:-1]
        
    
    def __get_faculty_data(self):
        data = {}
        data['Uni'] = self.uni_name
        data['Address'] = self.address
        data['Faculty-Name'] = self.fac_name
        data['Email'] = self.email
        data['Department-Count'] = len(self.__departments)
        
        return data
    
    
    def get_departments(self):
        return self.__departments
    
    
    def get_total_students(self):
        self.fac_students = 0
        for key in self.__departments.keys():
            self.fac_students+=self.__departments[key].get_total_students()
        return self.fac_students
    
    
    def __get_students_df(self):
        """Return all students details from
            the Faculty in a Pandas Dataframe
        """
        students_dict = self.__retrieve_all_students()
        df_dict = {'Name':[], 'Faculty':[], 'Dept':[], 'Email':[]}
        index = []
        
        for ID, student in students_dict.items():
            index.append(ID)
            df_dict['Name'].append(student.student_name)
            df_dict['Faculty'].append(student.fac_name)
            df_dict['Dept'].append(student.dept_name)
            df_dict['Email'].append(student.email)
            
        df = pd.DataFrame(df_dict, index=index)
        df.index.name = 'Student-ID'
        
        return df
        
    
    
    def __retrieve_all_students(self):
        """Helper method for getting all students 
           data, across all departments in faculty
        """
        students_dict = {}
        for dept_name, details in self.__departments.items():
            dept_students = details._Department__get_all_students()
            for key, value in dept_students.items():
                students_dict[key] = value
            
        return students_dict
    
    
    def get_student_data(self):
        fac_students = self.__retrieve_all_students()
        ans = input('Enter Student-ID(case sensitive)\nOr Student-Name(s):')
        print()
        print('Fetching student data...')
        print()
        time.sleep(1)
        error = 'No Matching Record Found!'
        temp_list = []
        match_list = []
        try:
            # If student-ID provided
            int(ans[-1])
            xy = fac_students.get(ans, error)
            if type(xy) is str:
                return xy
            else:
                return xy.get_student_data()
        except ValueError:
            ans = self.clean_name(ans)
            ans_list = ans.split()
            ans_rev = ans_list[::-1]
            ans_rev = ''.join([i+' ' for i in ans_rev])
            ans_rev = ans_rev[:-1]
            
            for ID, details in fac_students.items():
                if (details.student_name == ans) or (details.student_name == ans_rev):
                    match_list.append((details.student_name, ID))
                else:
                    for i in ans_list:
                        if i in details.student_name:
                            temp_list.append((details.student_name, ID))
            
        # If match found:
        if match_list:
            if len(match_list) > 1:
                print(f'WARNING: Multiple Records Found with Name(s) {ans}\nSee list of (Names, Students-ID):\n{match_list}')
                return 'You may Search Again With Student-ID.'
            else:
                return fac_students[match_list[0][1]].get_student_data()
        
        # If no match found return error
        if not temp_list:
            return error
        # If multiple other records found return them
        elif len(temp_list) > 1:
            print(f'WARNING: Partial Records Found with Similar Name(s) {ans}\nSee list of (Names, Students-ID):\n{temp_list}')
            return 'You may Search Again With Student-ID.'
        # else return the single record found
        else:
            print(f'WARNING: Partial Record Found with Similar Name(s) {ans}\nSee list of (Name, Students-ID):\n{temp_list}')
            return fac_students[temp_list[0][1]].get_student_data()
        
                
    def __set_department(self, dept):
        self.__departments[dept.dept_name] = dept

In [5]:
class Department(Faculty):
    def __init__(self, name, faculty):
        super(Department, self).__init__(name, uni)
        
        self.dept_name = name
        self.dept_tag = self.dept_name[:4].upper()
        self.faculty = faculty
        self.fac_name = faculty.fac_name
        self.uni_name = faculty.uni_name
        self.__students = {}
        self.email = self.__set_dept_email()
        self.courses = []
        
    def __set_dept_email(self):
        a = self.dept_name
        b = self.fac_name
        c = self.uni_name
        val = (f'{a}_dept.{b}@{c}.com').replace('-','_').lower()
        return val
    
            
    def __str__(self):
        a = self.uni_name
        b = self.fac_name
        c = self.dept_name
        d = self.dept_tag
        e = self.email
        f = len(self.courses)
        
        return f'Uni: {a}\nFaculty {b}\nDept: {c}\nDept-Tag: {d}\nEmail: {e}\nCourse-Count: {f}'
    
    
    def get_total_students(self):
        return len(self.__students)
    
    
    def __set_student(self, student):
        self.__students[student.student_id] = student
    
    
    def get_student_data(self):
        ans = input('Enter Student-ID (case-sensitive) \nOR Last-Name:')
        print()
        print('Fetching student data...')
        print()
        time.sleep(1)
        error = 'No Matching Record Found!'
        temp_list = []
        
        try:
            int(ans[-1])
            xy = self.__students.get(ans, error)
            if type(xy) is str:
                return xy
            else:
                return xy.get_student_data()   
        except ValueError:
            ans = self.clean_name(ans)
            for ID, data in self.__students.items():
                l_name = data.student_name.split()[-1]
                if l_name == ans:
                    temp_list.append((data.student_name, data.student_id))
                    
        if not temp_list:
            return error
        elif len(temp_list) != 1:
            print(f'WARNING: Multiple Records Found with Last-Name {ans}\nSee list of (Names, Students-ID):\n{temp_list}')
            return 'You may Search Again With Student-ID.'
        else:
            return self.__students.get(temp_list[0][1]).get_student_data()
        
        
    def __get_students_df(self):
        """Return all students details from
            the Dept in a Pandas Dataframe
        """
        students_dict = self.__get_all_students()
        df_dict = {'Name':[], 'Faculty':[], 'Dept':[], 'Email':[]}
        index = []
        
        for ID, student in students_dict.items():
            index.append(ID)
            df_dict['Name'].append(student.student_name)
            df_dict['Faculty'].append(student.fac_name)
            df_dict['Dept'].append(student.dept_name)
            df_dict['Email'].append(student.email)
            
        df = pd.DataFrame(df_dict, index=index)
        df.index.name = 'Student-ID'
        
        return df

    
    def __get_all_students(self):
        """returns all students in a dictionary
        """
        return self.__students
    
    
    def get_courses(self):
        return self.courses
    
    
    def ___set_course(self, course):
        self.courses.append(course)
        
        
    def set_student_email(self):
        a = self.student_name.lower()
        b = self.dept_name
        c = self.fac_name
        d = self.uni_name
        
        return (f'{a}.{b}.{c}@{d}.com').lower().replace('-','_').replace(' ','_')

In [6]:
class Student(Department):
    counter = 10
    def __init__(self, name, dept):
        self.dept = dept
        super(Student, self).__init__(name, self.dept.faculty)
        
        self.student_name = self.clean_name(name)
        self.dept_name = self.dept.dept_name
        self.dept_tag = self.dept.dept_tag
        self.email = self.set_student_email()
        self.student_id = '%s%03d'%(self.dept_tag, Student.counter)
        
        Student.counter+=1
        
        
    def __str__(self):
        a = self.uni_name
        b = self.address
        c = self.student_name
        d = self.student_id
        e = self.dept_name
        f = self.fac_name
        g = self.email
        
        return f'Uni: {a}\nAddress: {b}\nStudent: {c}\nStudent ID: {d}\nDept: {e}\nFaculty: {f}\nEmail: {g}'
    
    def get_student_data(self):
        data = {}
        data['Uni'] = self.uni_name
        data['Address'] = self.address
        data['Student'] = self.student_name
        data['Student ID'] = self.student_id
        data['Dept'] = self.dept_name
        data['Faculty'] = self.fac_name
        data['Email'] = self.email
        
        return data

**Instantiate a University class object**

In [7]:
name = 'Python-University'
address = 'Mountain-view California'
phone_str = '+99 555 1258 3697'

uni = University(name, address, phone_str)

In [8]:
print(uni)

Name: Python-University
Address: Mountain-view California
Contact: +99 555 1258 3697
Faculty-Count: 0

In [9]:
uni._University__get_faculty_data()

{}

In [10]:
uni.get_total_students()

0

In [11]:
try:
    uni.__set_faculty()
except AttributeError as e:
    print(e)

'University' object has no attribute '__set_faculty'

The `__set_faculty()` method in the `University` class is private to be used within the University class only and can not be accessed out of class. Except we use the convention `uni._University__set_faculty()`

**Let's create some faculties for the python-university**

In [12]:
engr_fac = Faculty('Engineering', uni)
man_sci_fac = Faculty('Management-Sciences', uni)
for_lang_fac = Faculty('Foreign-Languages', uni)
mar_sci_fac = Faculty('Marine-Sciences', uni)

In [13]:
print(engr_fac)

Uni: Python-University
Address: Mountain-view California
Faculty: Engineering
Email: engineering@python_university.com
Department-Count: 0

In [14]:
print(man_sci_fac)

Uni: Python-University
Address: Mountain-view California
Faculty: Management-Sciences
Email: management_sciences@python_university.com
Department-Count: 0

In [15]:
# Let's print some University object attributes inherited by the faculties

print(mar_sci_fac.phone)
print(mar_sci_fac.address)

+99 555 1258 3697
Mountain-view California

In [16]:
# Let's get the data for the Marine Faculty

mar_sci_fac._Faculty__get_faculty_data()

{'Uni': 'Python-University',
 'Address': 'Mountain-view California',
 'Faculty-Name': 'Marine-Sciences',
 'Email': 'marine_sciences@python_university.com',
 'Department-Count': 0}

In [17]:
# Let's get total students in the Marine Faculty, should print 0

mar_sci_fac.get_total_students()

0

In [18]:
# Let's see the departments in Marine-Sci Faculty, should be empty

mar_sci_fac.get_departments()

{}

**Let's set the faculties to Python-University**

In [19]:
faculty_list = [engr_fac, man_sci_fac, for_lang_fac, mar_sci_fac]

for f in faculty_list:
    uni._University__set_faculty(f)
print('Done!')

Done!

In [20]:
print(uni)

# Faculty count should now be 4

Name: Python-University
Address: Mountain-view California
Contact: +99 555 1258 3697
Faculty-Count: 4

In [21]:
uni._University__get_faculty_data()

# This should return a dictionary with faculty names as keys and faculties as values

{'Engineering': <__main__.Faculty at 0x1f1b09a9610>,
 'Management-Sciences': <__main__.Faculty at 0x1f1b09a9be0>,
 'Foreign-Languages': <__main__.Faculty at 0x1f1b09a9790>,
 'Marine-Sciences': <__main__.Faculty at 0x1f1b09a9c10>}

In [22]:
# Let's get the total students in the Engineering Faculty, should print 0

uni._University__get_faculty_data()['Engineering'].get_total_students()

0

In [23]:
# This should print the faculty data for only the Enginnering faculty

print(uni._University__get_faculty_data()['Engineering'])

Uni: Python-University
Address: Mountain-view California
Faculty: Engineering
Email: engineering@python_university.com
Department-Count: 0

In [24]:
# this should print the email for the foreign-languages faculty only

print(uni._University__get_faculty_data()['Foreign-Languages'].email)

foreign_languages@python_university.com

In [25]:
# Let's get total students in University, should print 0 as no students yet

uni.get_total_students()

0

**Let's create some departments for the faculties**

In [26]:
# For Engineering Faculty
civil_engr_dept = Department('Civil-Engr', engr_fac)
mech_engr_dept = Department('Mechanical-Engr', engr_fac)
computing_dept = Department('Computing', engr_fac)

# For Management-Sciences Faculty
banking_dept = Department('Banking', man_sci_fac)
accounts_dept = Department('Accountancy', man_sci_fac)
mass_comm_dept = Department('Mass-Communication', man_sci_fac)

# For Foreign Language Faculty
french_dept = Department('French', for_lang_fac)
spanish_dept = Department('Spanish', for_lang_fac)
italian_dept = Department('Italian', for_lang_fac)
swahili_dept = Department('Swahili', for_lang_fac)

# For Marine-Sci Faculty
fishery_dept = Department('Fishery', mar_sci_fac)
sea_fauna_dept = Department('Sea-Fauna', mar_sci_fac)
ocean_res_dept = Department('Ocean-Reservation', mar_sci_fac)

print('Done!')

Done!

In [27]:
# Let's print the details of the Ocean-reservation department

print(ocean_res_dept)

Uni: Python-University
Faculty Marine-Sciences
Dept: Ocean-Reservation
Dept-Tag: OCEA
Email: ocean_reservation_dept.marine_sciences@python_university.com
Course-Count: 0

In [28]:
# Let's print the details of the accounts department

print(accounts_dept)

Uni: Python-University
Faculty Management-Sciences
Dept: Accountancy
Dept-Tag: ACCO
Email: accountancy_dept.management_sciences@python_university.com
Course-Count: 0

In [29]:
# Let's make a list of all the departments so far

dept_list = [
    civil_engr_dept,
    mech_engr_dept,
    computing_dept,
    banking_dept,
    accounts_dept,
    mass_comm_dept,
    french_dept,
    spanish_dept,
    italian_dept,
    swahili_dept,
    fishery_dept,
    sea_fauna_dept,
    ocean_res_dept
]

**Let's add the departments to their relevant faculties**

In [30]:
for i in range(len(dept_list)):
    dept = dept_list[i]
    if i < 3:
        engr_fac._Faculty__set_department(dept)
    elif i < 6:
        man_sci_fac._Faculty__set_department(dept)
    elif i < 10:
        for_lang_fac._Faculty__set_department(dept)
    else:
        mar_sci_fac._Faculty__set_department(dept)
        
print('Done!')

Done!

In [31]:
print(engr_fac)

# Department-Count: should now be 3

Uni: Python-University
Address: Mountain-view California
Faculty: Engineering
Email: engineering@python_university.com
Department-Count: 3

In [32]:
print(man_sci_fac)

# Department-Count: should now be 3

Uni: Python-University
Address: Mountain-view California
Faculty: Management-Sciences
Email: management_sciences@python_university.com
Department-Count: 3

In [33]:
print(for_lang_fac)

# Department-Count: should now be 4

Uni: Python-University
Address: Mountain-view California
Faculty: Foreign-Languages
Email: foreign_languages@python_university.com
Department-Count: 4

In [34]:
print(mar_sci_fac)

# Department-Count: should now be 3

Uni: Python-University
Address: Mountain-view California
Faculty: Marine-Sciences
Email: marine_sciences@python_university.com
Department-Count: 3

In [35]:
mar_sci_fac.get_departments()

{'Fishery': <__main__.Department at 0x1f1b094efa0>,
 'Sea-Fauna': <__main__.Department at 0x1f1b094eca0>,
 'Ocean-Reservation': <__main__.Department at 0x1f1b094e100>}

In [36]:
for_lang_fac.get_departments()

{'French': <__main__.Department at 0x1f1b099abe0>,
 'Spanish': <__main__.Department at 0x1f1b099a430>,
 'Italian': <__main__.Department at 0x1f1b094ed90>,
 'Swahili': <__main__.Department at 0x1f1b094eee0>}

In [37]:
man_sci_fac.get_departments()

{'Banking': <__main__.Department at 0x1f1b099ac40>,
 'Accountancy': <__main__.Department at 0x1f1b099a490>,
 'Mass-Communication': <__main__.Department at 0x1f1b099a8e0>}

In [38]:
engr_fac.get_departments()

{'Civil-Engr': <__main__.Department at 0x1f1b099aca0>,
 'Mechanical-Engr': <__main__.Department at 0x1f1b099aa90>,
 'Computing': <__main__.Department at 0x1f1b099a100>}

In [39]:
for_lang_fac.get_departments()['Swahili'].email

# Should print just the email address for the Swahili dept

'swahili_dept.foreign_languages@python_university.com'

In [40]:
engr_fac.get_departments()['Computing'].email

# Should print just the email address for the Computing dept

'computing_dept.engineering@python_university.com'

In [41]:
for_lang_fac.address

# Should print the University address

'Mountain-view California'

**Next, let's create some students for the respective departments**

For Engr Faculty... Civil Engr dept

In [42]:
stud1 = Student('David Mark', civil_engr_dept)
stud2 = Student('Trevor-Noah', civil_engr_dept)
stud3 = Student('Mark Price', civil_engr_dept)
stud4 = Student('Rita Bansky', civil_engr_dept)
stud5 = Student('David Rye', civil_engr_dept)
stud6 = Student('Kimberley Scott', civil_engr_dept)
stud7 = Student('Brenda Mark', civil_engr_dept)
stud8 = Student('Ryan-Presky', civil_engr_dept)
stud9 = Student('Dave Marko', civil_engr_dept)

In [43]:
stud1.get_student_data()

{'Uni': 'Python-University',
 'Address': 'Mountain-view California',
 'Student': 'David Mark',
 'Student ID': 'CIVI010',
 'Dept': 'Civil-Engr',
 'Faculty': 'Engineering',
 'Email': 'david_mark.civil_engr.engineering@python_university.com'}

In [44]:
stud1.get_departments()

{}

In [45]:
print(stud9)

Uni: Python-University
Address: Mountain-view California
Student: Dave Marko
Student ID: CIVI018
Dept: Civil-Engr
Faculty: Engineering
Email: dave_marko.civil_engr.engineering@python_university.com

For Engr Faculty... Mech Engr dept

In [46]:
# For Engr Faculty
# Mechanical Engr dept

stud10 = Student('Harry Ray', mech_engr_dept)
stud11 = Student('Minsky-Noah', mech_engr_dept)
stud12 = Student('Markel Press', mech_engr_dept)
stud13 = Student('Peter Barnie', mech_engr_dept)
stud14 = Student('David Rook', mech_engr_dept)
stud15 = Student('Kim Schultz', mech_engr_dept)
stud16 = Student('Brenda Mario', mech_engr_dept)
stud17 = Student('Ian-Precious', mech_engr_dept)
stud18 = Student('Dave Made', mech_engr_dept)

In [47]:
stud10.get_student_data()

{'Uni': 'Python-University',
 'Address': 'Mountain-view California',
 'Student': 'Harry Ray',
 'Student ID': 'MECH019',
 'Dept': 'Mechanical-Engr',
 'Faculty': 'Engineering',
 'Email': 'harry_ray.mechanical_engr.engineering@python_university.com'}

In [48]:
print(stud18)

Uni: Python-University
Address: Mountain-view California
Student: Dave Made
Student ID: MECH027
Dept: Mechanical-Engr
Faculty: Engineering
Email: dave_made.mechanical_engr.engineering@python_university.com

For Engr Faculty... Computing dept

In [49]:
# For Engr Faculty
# Computing dept

stud19 = Student('Jacob blake', computing_dept)
stud20 = Student('tara Ferdi', computing_dept)
stud21 = Student('Moses Ilunge', computing_dept)
stud22 = Student('Harvey Olu', computing_dept)
stud23 = Student('Chris Egbu', computing_dept)
stud24 = Student('Lawrence Kruks', computing_dept)
stud25 = Student('Gilbert Roonie', computing_dept)
stud26 = Student('Ian-Garcia', computing_dept)
stud27 = Student('Dilla Paige', computing_dept)
stud28 = Student('robo monterrey', computing_dept)
stud29 = Student('Evans Jack', computing_dept)
stud30 = Student('francis-kuronemi', computing_dept)
stud31 = Student('Liyel Mark', computing_dept)

In [50]:
print(stud19)

Uni: Python-University
Address: Mountain-view California
Student: Jacob Blake
Student ID: COMP028
Dept: Computing
Faculty: Engineering
Email: jacob_blake.computing.engineering@python_university.com

In [51]:
print(stud24)

Uni: Python-University
Address: Mountain-view California
Student: Lawrence Kruks
Student ID: COMP033
Dept: Computing
Faculty: Engineering
Email: lawrence_kruks.computing.engineering@python_university.com

Let's add these Student objects to the respective departments in Engineering Faculty

In [52]:
engr_fac_students = [
    stud1, stud2, stud3, stud4, stud5, stud6, stud7, stud8, stud9, stud10,
    stud11, stud12, stud13, stud14, stud15, stud16, stud17, stud18, stud19,
    stud20, stud21, stud22, stud23, stud24, stud25, stud26, stud27, stud28,
    stud29, stud30, stud31
]

In [53]:
def add_students_to_depts(students_list, faculty):
    """Add Student objects in a faculty to their
        respective Department instances.
    """
    dept_dict = faculty.get_departments()
    
    for name, value in dept_dict.items():
        for student in students_list:
            if student.dept_name == name:
                value._Department__set_student(student)
    print('Done!')

In [54]:
add_students_to_depts(engr_fac_students, engr_fac)

Done!

**Let's see the faculties again in the Uni**

In [55]:
uni._University__get_faculty_data()

{'Engineering': <__main__.Faculty at 0x1f1b09a9610>,
 'Management-Sciences': <__main__.Faculty at 0x1f1b09a9be0>,
 'Foreign-Languages': <__main__.Faculty at 0x1f1b09a9790>,
 'Marine-Sciences': <__main__.Faculty at 0x1f1b09a9c10>}

**Getting Total students from each Faculty using the University object**...

In [56]:
# Getting total students for Engineering Faculty from the University Object

uni._University__get_faculty_data()['Engineering'].get_total_students()

31

In [57]:
# Getting total students for Man-Sci Faculty from the University Object

uni._University__get_faculty_data()['Management-Sciences'].get_total_students()

0

In [58]:
# Getting total students for Mar-Sci Faculty from the University Object

uni._University__get_faculty_data()['Marine-Sciences'].get_total_students()

0

In [59]:
# Getting total students for Foreign-Lang Faculty from the University Object

uni._University__get_faculty_data()['Foreign-Languages'].get_total_students()

0

**Getting total students directly from the University Object**...

In [60]:
# Getting total students directly from the University Object

uni.get_total_students()

31

**Getting total students directly from each Department Object...**

In [61]:
computing_dept.get_total_students()

13

In [62]:
mech_engr_dept.get_total_students()

9

In [63]:
civil_engr_dept.get_total_students()

9

In [64]:
french_dept.get_total_students()

0

**Getting Total Students directly from the Faculty objects**

In [65]:
engr_fac.get_total_students()

31

In [66]:
man_sci_fac.get_total_students()

0

In [67]:
mar_sci_fac.get_total_students()

0

In [68]:
for_lang_fac.get_total_students()

0

**Retrieving Students data on a Departmental level**

* Here we expect Department Staff to be able to retrieve students data either via Student-ID or Student-LastName
* Each Department Staff can only search and find students within their respective departments.

In [69]:
print(stud7)

Uni: Python-University
Address: Mountain-view California
Student: Brenda Mark
Student ID: CIVI016
Dept: Civil-Engr
Faculty: Engineering
Email: brenda_mark.civil_engr.engineering@python_university.com

In [70]:
# Trying to retieve the above students data with Student ID in Civil Engr Dept

civil_engr_dept.get_student_data()

Enter Student-ID (case-sensitive)
OR Last-Name:CIVI016

Fetching student data...

{'Uni': 'Python-University',
 'Address': 'Mountain-view California',
 'Student': 'Brenda Mark',
 'Student ID': 'CIVI016',
 'Dept': 'Civil-Engr',
 'Faculty': 'Engineering',
 'Email': 'brenda_mark.civil_engr.engineering@python_university.com'}

In [71]:
# Trying to retieve the above students data with Student ID in a different Dept

french_dept.get_student_data()

Enter Student-ID (case-sensitive)
OR Last-Name:CIVI016

Fetching student data...

'No Matching Record Found!'

In [72]:
# Trying to retieve the above students data with Student Lastname in a different Dept

computing_dept.get_student_data()

Enter Student-ID (case-sensitive)
OR Last-Name:mark

Fetching student data...

{'Uni': 'Python-University',
 'Address': 'Mountain-view California',
 'Student': 'Liyel Mark',
 'Student ID': 'COMP040',
 'Dept': 'Computing',
 'Faculty': 'Engineering',
 'Email': 'liyel_mark.computing.engineering@python_university.com'}

We see that using the last-name of mark, we are able to retrieve the only Student data in Computing Dept with that last-name.<br>
Let's try to use the same last-name in the Civil-Engr Dept

In [73]:
# Trying to retieve the above students data with Student Lastname in Civil Dept

civil_engr_dept.get_student_data()

Enter Student-ID (case-sensitive)
OR Last-Name:Mark

Fetching student data...

WARNING: Multiple Records Found with Last-Name Mark
See list of (Names, Students-ID):
[('David Mark', 'CIVI010'), ('Brenda Mark', 'CIVI016')]

'You may Search Again With Student-ID.'

We can see that when more than one student in the department, has the same last-name used for the search, a list of tuples is returned, containing each student name and ID that matches the last-name used. With a concluding message to retry a more informed-search with this new data.

In [74]:
# let's look for students details for a Student with last-name Kruks in Computing Dept

computing_dept.get_student_data()

Enter Student-ID (case-sensitive)
OR Last-Name:KruKS

Fetching student data...

{'Uni': 'Python-University',
 'Address': 'Mountain-view California',
 'Student': 'Lawrence Kruks',
 'Student ID': 'COMP033',
 'Dept': 'Computing',
 'Faculty': 'Engineering',
 'Email': 'lawrence_kruks.computing.engineering@python_university.com'}

In [75]:
# Finally let's look for students details for a Student with non-existent last name in Computing Dept

computing_dept.get_student_data()

Enter Student-ID (case-sensitive)
OR Last-Name:willsonn

Fetching student data...

'No Matching Record Found!'

In [76]:
# Let's get all students in computing Dept in a Pandas Dataframe

computing_dept._Department__get_students_df()

,Name,Faculty,Dept,Email
Student-ID,,,,
COMP028,Jacob Blake,Engineering,Computing,jacob_blake.computing.engineering@python_unive...
COMP029,Tara Ferdi,Engineering,Computing,tara_ferdi.computing.engineering@python_univer...
COMP030,Moses Ilunge,Engineering,Computing,moses_ilunge.computing.engineering@python_univ...
COMP031,Harvey Olu,Engineering,Computing,harvey_olu.computing.engineering@python_univer...
COMP032,Chris Egbu,Engineering,Computing,chris_egbu.computing.engineering@python_univer...
COMP033,Lawrence Kruks,Engineering,Computing,lawrence_kruks.computing.engineering@python_un...
COMP034,Gilbert Roonie,Engineering,Computing,gilbert_roonie.computing.engineering@python_un...
COMP035,Ian Garcia,Engineering,Computing,ian_garcia.computing.engineering@python_univer...
COMP036,Dilla Paige,Engineering,Computing,dilla_paige.computing.engineering@python_unive...
COMP037,Robo Monterrey,Engineering,Computing,robo_monterrey.computing.engineering@python_un...
COMP038,Evans Jack,Engineering,Computing,evans_jack.computing.engineering@python_univer...
COMP039,Francis Kuronemi,Engineering,Computing,francis_kuronemi.computing.engineering@python_...
COMP040,Liyel Mark,Engineering,Computing,liyel_mark.computing.engineering@python_univer...

In [77]:
# Let's get all students in Civil Dept in a Pandas Dataframe

civil_engr_dept._Department__get_students_df()

,Name,Faculty,Dept,Email
Student-ID,,,,
CIVI010,David Mark,Engineering,Civil-Engr,david_mark.civil_engr.engineering@python_unive...
CIVI011,Trevor Noah,Engineering,Civil-Engr,trevor_noah.civil_engr.engineering@python_univ...
CIVI012,Mark Price,Engineering,Civil-Engr,mark_price.civil_engr.engineering@python_unive...
CIVI013,Rita Bansky,Engineering,Civil-Engr,rita_bansky.civil_engr.engineering@python_univ...
CIVI014,David Rye,Engineering,Civil-Engr,david_rye.civil_engr.engineering@python_univer...
CIVI015,Kimberley Scott,Engineering,Civil-Engr,kimberley_scott.civil_engr.engineering@python_...
CIVI016,Brenda Mark,Engineering,Civil-Engr,brenda_mark.civil_engr.engineering@python_univ...
CIVI017,Ryan Presky,Engineering,Civil-Engr,ryan_presky.civil_engr.engineering@python_univ...
CIVI018,Dave Marko,Engineering,Civil-Engr,dave_marko.civil_engr.engineering@python_unive...

In [78]:
# Let's get all students in Mechanical Dept in a Pandas Dataframe

mech_engr_dept._Department__get_students_df()

,Name,Faculty,Dept,Email
Student-ID,,,,
MECH019,Harry Ray,Engineering,Mechanical-Engr,harry_ray.mechanical_engr.engineering@python_u...
MECH020,Minsky Noah,Engineering,Mechanical-Engr,minsky_noah.mechanical_engr.engineering@python...
MECH021,Markel Press,Engineering,Mechanical-Engr,markel_press.mechanical_engr.engineering@pytho...
MECH022,Peter Barnie,Engineering,Mechanical-Engr,peter_barnie.mechanical_engr.engineering@pytho...
MECH023,David Rook,Engineering,Mechanical-Engr,david_rook.mechanical_engr.engineering@python_...
MECH024,Kim Schultz,Engineering,Mechanical-Engr,kim_schultz.mechanical_engr.engineering@python...
MECH025,Brenda Mario,Engineering,Mechanical-Engr,brenda_mario.mechanical_engr.engineering@pytho...
MECH026,Ian Precious,Engineering,Mechanical-Engr,ian_precious.mechanical_engr.engineering@pytho...
MECH027,Dave Made,Engineering,Mechanical-Engr,dave_made.mechanical_engr.engineering@python_u...

In [79]:
# Let's get all students in Franch Dept in a Pandas Dataframe

french_dept._Department__get_students_df()

Empty DataFrame
Columns: [Name, Faculty, Dept, Email]
Index: []

**Retrieving Students data on a Faculty level**

* Here we expect Faculty Staff to be able to retrieve students data either via Student-ID or any name of the student or both names
* Each Faculty Staff can only search and find students within their respective faculty.

In [80]:
# Let's search for any student with either First-Name or Last-Name as Mark in Engr-Faculty...

engr_fac.get_student_data()

Enter Student-ID(case sensitive)
Or Student-Name(s):marK

Fetching student data...

WARNING: Partial Records Found with Similar Name(s) Mark
See list of (Names, Students-ID):
[('David Mark', 'CIVI010'), ('Mark Price', 'CIVI012'), ('Brenda Mark', 'CIVI016'), ('Dave Marko', 'CIVI018'), ('Markel Press', 'MECH021'), ('Liyel Mark', 'COMP040')]

'You may Search Again With Student-ID.'

We can see that the full-names and Student-IDs for all students whose first-name or last-name contain `Mark` across all departments within the faculty of Engr are returned. This search traverses the entire departments within the faculty, to retrieve the students that match the search name.

In [81]:
# Now that we have these results, let's select student Mark Price for the search with his Student-ID or full name

engr_fac.get_student_data()

Enter Student-ID(case sensitive)
Or Student-Name(s):mark price

Fetching student data...

{'Uni': 'Python-University',
 'Address': 'Mountain-view California',
 'Student': 'Mark Price',
 'Student ID': 'CIVI012',
 'Dept': 'Civil-Engr',
 'Faculty': 'Engineering',
 'Email': 'mark_price.civil_engr.engineering@python_university.com'}

In [82]:
# Now Let's search for a specific student with both first and last names given in Engr Faculty

engr_fac.get_student_data()

Enter Student-ID(case sensitive)
Or Student-Name(s):evans jack

Fetching student data...

{'Uni': 'Python-University',
 'Address': 'Mountain-view California',
 'Student': 'Evans Jack',
 'Student ID': 'COMP038',
 'Dept': 'Computing',
 'Faculty': 'Engineering',
 'Email': 'evans_jack.computing.engineering@python_university.com'}

In [83]:
# Now Let's search for another specific student with both first and last names given in Engr Faculty

engr_fac.get_student_data()

Enter Student-ID(case sensitive)
Or Student-Name(s):tara ferdi

Fetching student data...

{'Uni': 'Python-University',
 'Address': 'Mountain-view California',
 'Student': 'Tara Ferdi',
 'Student ID': 'COMP029',
 'Dept': 'Computing',
 'Faculty': 'Engineering',
 'Email': 'tara_ferdi.computing.engineering@python_university.com'}

In [84]:
# Now Let's search for another student with either first or last name given in Engr Faculty

engr_fac.get_student_data()

Enter Student-ID(case sensitive)
Or Student-Name(s):ian

Fetching student data...

WARNING: Partial Records Found with Similar Name(s) Ian
See list of (Names, Students-ID):
[('Ian Precious', 'MECH026'), ('Ian Garcia', 'COMP035')]

'You may Search Again With Student-ID.'

In [85]:
# Now Let's search for another student with the first and last name mistakenly interchanged

engr_fac.get_student_data()

Enter Student-ID(case sensitive)
Or Student-Name(s):mario brenda

Fetching student data...

{'Uni': 'Python-University',
 'Address': 'Mountain-view California',
 'Student': 'Brenda Mario',
 'Student ID': 'MECH025',
 'Dept': 'Mechanical-Engr',
 'Faculty': 'Engineering',
 'Email': 'brenda_mario.mechanical_engr.engineering@python_university.com'}

In [86]:
# Now let's get the dataframe distribution for all students in the Faculty

engr_fac._Faculty__get_students_df()

,Name,Faculty,Dept,Email
Student-ID,,,,
CIVI010,David Mark,Engineering,Civil-Engr,david_mark.civil_engr.engineering@python_unive...
CIVI011,Trevor Noah,Engineering,Civil-Engr,trevor_noah.civil_engr.engineering@python_univ...
CIVI012,Mark Price,Engineering,Civil-Engr,mark_price.civil_engr.engineering@python_unive...
CIVI013,Rita Bansky,Engineering,Civil-Engr,rita_bansky.civil_engr.engineering@python_univ...
CIVI014,David Rye,Engineering,Civil-Engr,david_rye.civil_engr.engineering@python_univer...
CIVI015,Kimberley Scott,Engineering,Civil-Engr,kimberley_scott.civil_engr.engineering@python_...
CIVI016,Brenda Mark,Engineering,Civil-Engr,brenda_mark.civil_engr.engineering@python_univ...
CIVI017,Ryan Presky,Engineering,Civil-Engr,ryan_presky.civil_engr.engineering@python_univ...
CIVI018,Dave Marko,Engineering,Civil-Engr,dave_marko.civil_engr.engineering@python_unive...
MECH019,Harry Ray,Engineering,Mechanical-Engr,harry_ray.mechanical_engr.engineering@python_u...
MECH020,Minsky Noah,Engineering,Mechanical-Engr,minsky_noah.mechanical_engr.engineering@python...
MECH021,Markel Press,Engineering,Mechanical-Engr,markel_press.mechanical_engr.engineering@pytho...
MECH022,Peter Barnie,Engineering,Mechanical-Engr,peter_barnie.mechanical_engr.engineering@pytho...
MECH023,David Rook,Engineering,Mechanical-Engr,david_rook.mechanical_engr.engineering@python_...
MECH024,Kim Schultz,Engineering,Mechanical-Engr,kim_schultz.mechanical_engr.engineering@python...
MECH025,Brenda Mario,Engineering,Mechanical-Engr,brenda_mario.mechanical_engr.engineering@pytho...
MECH026,Ian Precious,Engineering,Mechanical-Engr,ian_precious.mechanical_engr.engineering@pytho...
MECH027,Dave Made,Engineering,Mechanical-Engr,dave_made.mechanical_engr.engineering@python_u...
COMP028,Jacob Blake,Engineering,Computing,jacob_blake.computing.engineering@python_unive...
COMP029,Tara Ferdi,Engineering,Computing,tara_ferdi.computing.engineering@python_univer...
COMP030,Moses Ilunge,Engineering,Computing,moses_ilunge.computing.engineering@python_univ...
COMP031,Harvey Olu,Engineering,Computing,harvey_olu.computing.engineering@python_univer...
COMP032,Chris Egbu,Engineering,Computing,chris_egbu.computing.engineering@python_univer...
COMP033,Lawrence Kruks,Engineering,Computing,lawrence_kruks.computing.engineering@python_un...
COMP034,Gilbert Roonie,Engineering,Computing,gilbert_roonie.computing.engineering@python_un...
COMP035,Ian Garcia,Engineering,Computing,ian_garcia.computing.engineering@python_univer...
COMP036,Dilla Paige,Engineering,Computing,dilla_paige.computing.engineering@python_unive...
COMP037,Robo Monterrey,Engineering,Computing,robo_monterrey.computing.engineering@python_un...
COMP038,Evans Jack,Engineering,Computing,evans_jack.computing.engineering@python_univer...
COMP039,Francis Kuronemi,Engineering,Computing,francis_kuronemi.computing.engineering@python_...
COMP040,Liyel Mark,Engineering,Computing,liyel_mark.computing.engineering@python_univer...

In [87]:
# Let's create another student with same name 'David-Mark' in computing Dept
stud32 = Student('David Mark', computing_dept)

# Let's add this student to the computing department
add_students_to_depts([stud32], engr_fac)

Done!

In [88]:
# Now Let's search for another student with first and last names David mark

engr_fac.get_student_data()

Enter Student-ID(case sensitive)
Or Student-Name(s):david mark

Fetching student data...

WARNING: Multiple Records Found with Name(s) David Mark
See list of (Names, Students-ID):
[('David Mark', 'CIVI010'), ('David Mark', 'COMP041')]

'You may Search Again With Student-ID.'

In [90]:
engr_fac.get_total_students()

32

### Complete Exercises

**[CHAPTER Programming Exercises](https://runestone.academy/runestone/books/published/pythonds/Introduction/Exercises.html)**